<%= form_with(model: transportation, local: true) do |form| %>
  <% if transportation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transportation.errors.count, "error") %> prohibited this transportation from being saved:</h2>

      <ul>
      <% transportation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :equipement_id %>
    <%= form.collection_select :equipement_id, @equipement, :id, :name %>
    <!-- <%= form.text_field :equipement_id, id: :transportation_equipement_id %> -->
  </div>

  <div class="field">
    <%= form.label :transport_id %>
    <%= form.collection_select :transport_id, @transport, :id, :combo_ligne_arret %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
