<p id="notice"><%= notice %></p>

<h1>Transports</h1>

<table>
  <thead>
    <tr>
      <th>Type transport</th>
      <th>Ligne</th>
      <th>Arret</th>
      <th>Equipement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transports.each do |transport| %>
      <tr>
        <td><%= transport.type_transport %></td>
        <td><%= transport.ligne %></td>
        <td><%= transport.arret %></td>
        <td><%= transport.equipement %></td>
        <td><%= link_to 'Show', transport %></td>
        <td><%= link_to 'Edit', edit_transport_path(transport) %></td>
        <td><%= link_to 'Destroy', transport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transport', new_transport_path %>
