<%= form_with(model: activite_aquatique, local: true) do |form| %>
  <% if activite_aquatique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activite_aquatique.errors.count, "error") %> prohibited this activite_aquatique from being saved:</h2>

      <ul>
      <% activite_aquatique.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom, id: :activite_aquatique_nom %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <%= form.text_field :age_group, id: :activite_aquatique_age_group %>
  </div>

  <div class="field">
    <%= form.label :jour %>
    <%= form.text_field :jour, id: :activite_aquatique_jour %>
  </div>

  <div class="field">
    <%= form.label :debut %>
    <%= form.text_field :debut, id: :activite_aquatique_debut %>
  </div>

  <div class="field">
    <%= form.label :fin %>
    <%= form.text_field :fin, id: :activite_aquatique_fin %>
  </div>

  <div class="field">
    <%= form.label :equipement_id %>
    <%= form.text_field :equipement_id, id: :activite_aquatique_equipement_id %>
  </div>
  <div>
    <%= form.check_box :complet, {:class => "complet"}, "true", "false" %>
    <%= label_tag(:complet, "Complet") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
