<%= form_with(model: activite_aquatique, local: true) do |form| %>
  <% if activite_aquatique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activite_aquatique.errors.count, "error") %> prohibited this activite_aquatique from being saved:</h2>

      <ul>
      <% activite_aquatique.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.select :nom, options_for_select(["Natation Enfants", "Natation Adultes","BB Nageurs", "Aquagym"]) %>
  </div>

  <div class="field flexing">
    <table>
      <tr>
        <th>Goupe</th>
        <th>Age (Natation Enfants)</th>
        <th>Age (BB Nageurs)</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2013 - 2014</td>
        <td>2015 et apres</td>
      </tr>
      <tr>
        <td>2</td>
        <td>de 2013 a 2009</td>
        <td>2015 - 14 - 13</td>
      </tr>
      <tr>
        <td>3</td>
        <td>2012 et avant</td>
      </tr>
    </table>
    <%= form.label :group %>
    <%= form.select :age_group, options_for_select(["1", "2", "3"]) %>
  </div>

  <div class="field">
    <%= form.label :jour %>
    <%= form.select :jour, options_for_select(["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]) %>
  </div>

  <div class="field">
    <%= form.label :debut %>
    <%= form.text_field :debut, id: :activite_aquatique_debut %>
  </div>

  <div class="field">
    <%= form.label :fin %>
    <%= form.text_field :fin, id: :activite_aquatique_fin %>
  </div>

  <div class="field">
    <%= form.label :equipement_id %>
    <%= form.collection_select :equipement_id, @equipement, :id, :name %>
  </div>
  <div>
    <%= form.check_box :complet, {:class => "complet"}, "true", "false" %>
    <%= label_tag(:complet, "Complet") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
