<p id="notice"><%= notice %></p>

<h1>Activite Aquatiques</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Group</th>
      <th>Jour</th>
      <th>Debut</th>
      <th>Fin</th>
      <th>Equipement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activite_aquatiques.each do |activite_aquatique| %>
      <tr>
        <td><%= activite_aquatique.nom %></td>
        <td><%= activite_aquatique.age_group %></td>
        <td><%= activite_aquatique.jour %></td>
        <td><%= activite_aquatique.debut %></td>
        <td><%= activite_aquatique.fin %></td>
        <td><%= activite_aquatique.equipement %></td>
        <td><%= link_to 'Show', activite_aquatique %></td>
        <td><%= link_to 'Edit', edit_activite_aquatique_path(activite_aquatique) %></td>
        <td><%= link_to 'Destroy', activite_aquatique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activite Aquatique', new_activite_aquatique_path %>
