<p id="notice"><%= notice %></p>
<div id="equipement_map" data-equipement-id="<%=@equipement.id%>">Google Map will appear here...</div>

<p>
  <strong>Latitude:</strong>
  <%= @equipement.latitude %>
</p>
  <strong>Longitude:</strong>
  <%= @equipement.longitude %>
</p>
  <strong>Name:</strong>
  <%= @equipement.name %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @equipement.adresse %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @equipement.cp %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @equipement.ville %>
</p>

<p>
  <strong>Type equipement:</strong>
  <%= @equipement.type_equipement %>
</p>

<%= link_to 'Edit', edit_equipement_path(@equipement) %> |
<%= link_to 'Back', equipements_path %>
