<h1>BB Nageurs</h1>
  <p>Nous ne prendrons en compte les demandes d’inscriptions qu’à partir du 15 juin 2018 , en fonction des places encore disponibles dans nos différents créneaux.<br />
    Reprise des séances semaine du 4 septembre 2018<br />
    Aucune inscription sur place ou par téléphone.
  </p>
  <p>Activité ludique et d'éveil qui s'adresse aux enfants de 0 à 6 ans  accompagnés d'un ou deux adultes.</p>
  <p>L'enfant va découvrir à son rythme de nouvelles sensations, de nouvelles habilités, aidé par des encouragements et un environnement stimulant.</p>
  <p>Les 2  premières injections contenant le vaccin contre la Polio sont obligatoires afin de pratiquer cette activité.<br />
    Il vous sera donc demandé de bien vouloir présenter à l’inscription le carnet de santé de l’enfant ainsi qu’un certificat médical, de moins de 3 mois  ,de non contre indication à la pratique de cette activité.
  </p>
  <p>Nous vous demanderons également de bien vouloir respecter à chaque séance les horaires (début et fin de séance) ainsi que la consigne d’un adulte présent et dans l’eau par enfant inscrit.</p>
    <h4>BEBES NAGEURS</h4>
      <p>nés en 2015 et après<br>
      (155 euros)</p>
      <p>Fratrie acceptée le samedi Bassin Saint Blaise: soit 1 enfant de moins de 3 ans + frère ou sœur né(e) en 2012 et après.</p>
      <% @group1.each do |activite_aquatique| %>
          <p class="<%= 'complet' if activite_aquatique.complet %>"><%= activite_aquatique.jour %><br />
             <%= activite_aquatique.debut %> - <%= activite_aquatique.fin %><br />
             <%= activite_aquatique.equipement.name %>
         </p>
      <% end %>
      <br />
      <h4>BEBES NAGEURS</h4>
        <p>nés en 2015 - 14 - 13<br>
        (155 euros)</p>
        <% @group2.each do |activite_aquatique| %>
            <p class="<%= 'complet' if activite_aquatique.complet %>"><%= activite_aquatique.jour %><br />
               <%= activite_aquatique.debut %> - <%= activite_aquatique.fin %><br />
               <%= activite_aquatique.equipement.name %>
           </p>
        <% end %>
