<h1>Lieux</h1>
<h2>Piscines</h2>
  <div id="lieux_map">Google Map will appear here...</div>
  <div>
    <% @piscines.each do |equipement| %>
    <p>
      <%= equipement.name %><br />
      <%= equipement.adresse %><br />
      <%= equipement.cp %> <%= equipement.ville %>
      <br />
      Metro:<br />
      <% equipement.transportations.each do |transportation| %>
      <% if transportation.transport.type_transport == 'Metro' %>
      Ligne :<%= transportation.transport.ligne %> (<%= transportation.transport.arret %>)<br />
      <% end %>
      <% end %>
      <br />
      Bus:<br />
      <% equipement.transportations.each do |transportation| %>
      <% if transportation.transport.type_transport == 'Bus' %>
      Ligne :<%= transportation.transport.ligne %> (<%= transportation.transport.arret %>)<br />
      <% end %>
      <% end %>
      <br />
    </p>
    <% end %>
  </div>

<h2>Gymnases</h2>
  <div>
    <% @gymnases.each do |equipement| %>
    <p>
      <%= equipement.name %><br />
      <%= equipement.adresse %><br />
      <%= equipement.cp %> <%= equipement.ville %>
      <br />
      Metro:<br />
      <% equipement.transportations.each do |transportation| %>
      <% if transportation.transport.type_transport == 'Metro' %>
      Ligne: <%= transportation.transport.ligne %> (<%= transportation.transport.arret %>)<br />
      <% end %>
      <% end %>
      <br />
      Bus:<br />
      <%equipement.transportations.each do |transportation| %>
      <% if transportation.transport.type_transport == 'Bus' %>
      Ligne: <%= transportation.transport.ligne %> (<%= transportation.transport.arret %>)<br />
      <% end %>
      <% end %>
      <br />
    </p>
    <% end %>
  </div>
