<h1>Natation</h1>
  <h4>NATATION ENFANTS</h4>
    <p>nés en 2012 et avant<br>
    (155 euros)</p>
    <p>Des tests seront organisés à la reprise afin de déterminer la composition des différents groupes.<br>
    Confirmation des inscriptions pour les nouveaux adhérents à la suite de ces mêmes tests.</p>

    <% @group3.each do |activite_aquatique| %>
        <p class="<%= 'complet' if activite_aquatique.complet %>"><%= activite_aquatique.jour %><br />
           <%= activite_aquatique.debut %> - <%= activite_aquatique.fin %><br />
           <%= activite_aquatique.equipement.name %>
       </p>
    <% end %>

    <% @aquagym.each do |aquagym| %>
        <p id="<%= 'complet' if aquagym.complet == true %>"><%= aquagym.jour %><br />
           <%= aquagym.debut %> - <%= aquagym.fin %><br />
           <%= aquagym.complet %>
           <%= aquagym.equipement.name %>
       </p>
    <% end %>
